.pencil-editor {
  height: 100vh;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.pencil-editor__container {
  display: flex;
  margin-top: 40px;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}

.pencil-editor__container--writing {
  height: auto;
  width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 20px;
  background-color: white;
}

.title {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 300;
  color: #E7EFFF;
}