
.pencil-editor__container {
  display: flex;
  margin-top: 40px;
  align-items: center;
  flex-direction: column;
}

.pencil-editor__container--writing {
  height: 600px;
  width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 20px;
}