.pencil-login__container {
  height: 100vh;
  width: 100%;
  display: flex;
}

.pencil-login__container--thumbnail {
  flex: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pencil-login__container--information {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.pencil-login__container--information .infobox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img{
  width: 120px;
  height: 120px;
}

.title {
  font-size: 36px;
  color: darkgray;
  font-weight: 300;
  margin-top: 20px;
}

.subtitle {
  font-size: 20px;
  margin-top: 20px;
  font-weight: 300;
}

.google-btn {
  width: 184px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
  cursor: pointer;
  margin-top: 20px;
}
.google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}
.google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
}
.btn-text {
  float: right;
  margin: 11px 11px 0 0;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
}
 
