.pencil-loader {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-img {
  width: 200px;
  height: 200px;
}

.pencil-login__logo {
  width: 100%;
  display: flex;
  height: 60px;

}

.pencil-login__logo img {
  height: 55px;
  width: 65px;
}

.pencil-login__container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.pencil-login__container--info {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.title {
  font-size: 32px;
  margin-top: 20px;
  font-weight: 600;
  line-height: 125%;
  color: #E7EFFF;
}

.subtitle {
  font-size: 16px;
  margin-top: 40px;
  width: 50%;
  text-align: center;
  line-height: 1.6rem;
  color: #374366;
}

.subtitle span {
  color: #F3BF3A;
  font-weight: bold;
}

.subtitle div {
  color: #FFF7D6;
  font-weight: 600;
  margin-top: 10px;
}

.pencil-login__container--image {
  display: flex;
  margin-top: 20px;
}

.thumbnail-img {
  width: 400px;
  height: 375px;
}


.google-btn {
  width: 184px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
  cursor: pointer;
  margin-top: 40px;
}
.google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}
.google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
}
.btn-text {
  float: right;
  margin: 11px 11px 0 0;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
}

@media (min-width: 768px) {
  
}
 
